<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
.text-white{
        color:white
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 3px;
}

.fa:hover {
opacity: 0.7;
}
    

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
    background: white;
    color: black;
}

.fa-envelope{
    background: rgba(255, 0, 0);
    color: white;
}
</style>
<body style="background-color:black">

    <nav class="navbar" style="background-color:#00a65a">
        <a class="navbar-brand">My Book recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>




    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project-summary">
                    <h1 class="text-white" style="font-size:50px">Book Recommender System Web App</h1>
                    <p class="text-white">This project is a book recommender system web application created by Matheus Muniz Damasco that allows users to search for books by title. The application is built using Python and the Flask web framework, html and css. The goal of this project is to provide a simple and user-friendly way for users to search for books and find new titles to read. The source code for this project is available on GitHub, and it is open-source, meaning that anyone is free to use, modify, and distribute the code.</p>
                </div>
                
                <h2 class="text-white" style="font-size:50px">Contact Us</h2>
                <div>
                    <a href="https://github.com/math-muniz" class="fa fa-github" aria-hidden="true"></a>
                    <a href="https://linkedin.com/in/math-muniz" class="fa fa-linkedin" aria-hidden="true"></a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>